<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <style>
        .center {
            margin: auto;
            width: 60%;
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="center">
    <div style="text-align: right;">
        <a href="/">Text Summarizer</a>
        <a href="/contact">Contact</a>
    </div>
    <h1>Text Summarizer</h1>
    <p>adam.montgomerie971@gmail.com</p>
</div>
</body>
</html>